---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import Skills from '../components/Skills.astro';
import Contact from '../components/Contact.astro';
import { skillCategories } from '../content/skillCategories';

// Fetch all main projects
const mainProjects = await Astro.glob('../content/projects/main/*.mdx');

// Sort projects by date or any other criteria and take the three most recent
const recentMainProjects = mainProjects.sort((a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date)).slice(0, 3);
---

<BaseLayout title="Home">
  <section class="mt-36">
    <div class="flex items-center">
      <img 
        src="/portfolio-website/introduction-pic.svg" 
        alt="Jamie Holroyde" 
        class="w-48 h-48 rounded-full object-cover mr-6"
      />
      <div class="flex flex-col">
        <h1 class="text-4xl font-bold text-primary-text mb-2">Jamie Holroyde</h1>
        <p class="text-xl text-secondary-text">
          Informatics Student @ The University of Edinburgh
        </p>
      </div>
    </div>
  </section>

  <!-- About Me Section -->
  <section class="mt-36">
    <div class="flex items-center mb-8">
      <h2 class="text-title font-bold mr-4">
        <span class="text-navigation">#</span><span class="text-white">about me</span>
      </h2>
      <div class="flex-grow border-t border-navigation"></div>
    </div>
    <p class="text-normal text-secondary-text mb-4">
      Hi, I'm Jamie! I'm an Informatics student at Edinburgh University, currently in my second year. My journey in the world of computing has been driven by a passion for technology and a desire to solve complex problems through innovative solutions.
    </p>
    <div class="text-right">
      <a href="/portfolio-website/about" class="inline-block bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
        Read More
      </a>
    </div>
  </section>

  <!-- Recent Projects Section -->
  <section class="mt-36">
    <div class="flex items-center mb-8">
      <h2 class="text-title font-bold mr-4">
        <span class="text-navigation">#</span><span class="text-white">projects</span>
      </h2>
      <div class="flex-grow border-t border-navigation"></div>
      <a href="/portfolio-website/portfolio" class="inline-block bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
        View all
      </a>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {recentMainProjects.map((project) => (
        <ProjectCard
          title={project.frontmatter.title}
          description={project.frontmatter.description}
          image={project.frontmatter.image}
          url={project.frontmatter.url}
          software={Array.isArray(project.frontmatter.software) ? project.frontmatter.software : []}
        />
      ))}
    </div>
  </section>

  <!-- Skills Section -->
  <section class="mt-36">
    <div class="flex items-center mb-8">
      <h2 class="text-title font-bold mr-4">
        <span class="text-navigation">#</span><span class="text-white">skills</span>
      </h2>
      <div class="flex-grow border-t border-navigation"></div>
    </div>
    <Skills categories={skillCategories} />
  </section>

<!-- Contact Section -->
<section class="mt-36">
  <div class="flex items-center mb-8">
    <h2 class="text-title font-bold mr-4">
      <span class="text-navigation">#</span><span class="text-white">contact</span>
    </h2>
    <div class="flex-grow border-t border-navigation"></div>
  </div>
  <div class="flex flex-col md:flex-row gap-8">
    <div class="flex-1">
      <p class="text-normal text-secondary-text">
        I'm always open to new opportunities and collaborations. Whether you have a question, want to discuss a project, or just want to say hi, feel free to reach out to me. I'll do my best to get back to you as soon as possible.
      </p>
    </div>
    <div class="flex-shrink-0 md:w-1/3">
      <Contact />
    </div>
  </div>
</section>
</BaseLayout>
