---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import Skills from '../components/Skills.astro';
import Contact from '../components/Contact.astro';
import Button from '../components/Button.astro';
import SectionHeader from '../components/SectionHeader.astro';
import { skillCategories } from '../content/skillCategories';

// Fetch all main projects
const mainProjects = await Astro.glob('../content/projects/main/*.mdx');

// Sort projects by date or any other criteria and take the three most recent
const recentMainProjects = mainProjects.sort((a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date)).slice(0, 3);
---

<BaseLayout title="Home">
  <section class="mt-12 md:mt-36">
    <div class="flex flex-col md:flex-row items-center">
      <img 
        src="/portfolio-website/introduction-pic.svg" 
        alt="Jamie Holroyde" 
        class="w-32 h-32 md:w-48 md:h-48 rounded-full object-cover mb-4 md:mb-0 md:mr-6"
      />
      <div class="flex flex-col text-center md:text-left">
        <h1 class="text-3xl md:text-4xl font-bold text-primary-text mb-2">Jamie Holroyde</h1>
        <p class="text-lg md:text-xl text-secondary-text">
          Informatics Student @ The University of Edinburgh
        </p>
      </div>
    </div>
  </section>

  <!-- About Me Section -->
  <section class="mt-12 md:mt-36">
    <div class="flex flex-col md:flex-row items-center mb-8">
      <SectionHeader title="about me" />
    </div>
    <p class="text-normal text-secondary-text mb-4 text-center md:text-left">
      Hi, I'm Jamie!
    </p>
    <p class="text-normal text-secondary-text mb-4 text-center md:text-left">
      I'm an Informatics student at Edinburgh University, currently in my second year. My journey in the world of computing has been driven by a passion for technology and a desire to solve complex problems through innovative solutions. I am an eager-to-learn, analytical, and determined aspiring Software Engineer with a strong interest in Data Science and Machine Learning, currently studying towards an integrated Masters in Informatics at the University of Edinburgh.
    </p>
    <p class="text-normal text-secondary-text mb-4 text-center md:text-left">
      In my free time, I love to explore new programming languages and tools, always eager to learn and grow in my field. My academic journey has fueled a deep passion for data science and artificial intelligence, areas that I find both challenging and incredibly rewarding.
    </p>
    <Button type="page" href="/portfolio-website/about" />
  </section>

  <!-- Recent Projects Section -->
  <section class="mt-12 md:mt-36">
    <div class="flex flex-col md:flex-row items-center mb-8">
      <SectionHeader title="projects" />
      <Button type="viewAll" href="/portfolio-website/portfolio" />
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {recentMainProjects.map((project) => (
        <ProjectCard
          title={project.frontmatter.title}
          description={project.frontmatter.description}
          image={project.frontmatter.image}
          url={project.frontmatter.url}
          software={Array.isArray(project.frontmatter.software) ? project.frontmatter.software : []}
        />
      ))}
    </div>
  </section>

  <!-- Skills Section -->
  <section class="mt-12 md:mt-36">
    <div class="flex flex-col md:flex-row items-center mb-8">
      <SectionHeader title="skills" />
    </div>
    <Skills categories={skillCategories} />
  </section>

  <!-- Contact Section -->
  <section class="mt-12 md:mt-36">
    <div class="flex flex-col md:flex-row items-center mb-8">
      <SectionHeader title="contact" />
    </div>
    <div class="flex flex-col md:flex-row gap-8">
      <div class="flex-1">
        <p class="text-normal text-secondary-text">
          I'm always open to new opportunities and collaborations. Whether you have a question, want to discuss a project, or just want to say hi, feel free to reach out to me. I'll do my best to get back to you as soon as possible.
        </p>
      </div>
      <div class="flex-shrink-0 md:w-1/3">
        <Contact />
      </div>
    </div>
  </section>
</BaseLayout>
