---
// src/components/Contact.astro
import { contactInfo } from '../content/contactInfo';

const { email, discord, discordUsername, linkedin, linkedinUsername, github, githubUsername } = contactInfo;
---

<div class="bg-column-bg p-4 rounded-lg shadow-md border border-white flex flex-col items-center">
  <h3 class="text-lg font-semibold text-primary-text mb-4">Message Me</h3>
  <div class="flex flex-col space-y-4">
    <div class="flex items-center space-x-2">
      <img 
        src="/portfolio-website/icons/email.svg" 
        alt="Email" 
        class="w-6 h-6"
      />
      <a href={`mailto:${email}`} class="text-white hover:text-blue-500">
        {email}
      </a>
    </div>
    <div class="flex items-center space-x-2">
      <img 
        src="/portfolio-website/icons/discord.svg" 
        alt="Discord" 
        class="w-6 h-6"
      />
      <a href={discord} class="text-white hover:text-blue-500">
        {discordUsername}
      </a>
    </div>
    <div class="flex items-center space-x-2">
      <img 
        src="/portfolio-website/icons/linkedin.svg" 
        alt="Linkedin" 
        class="w-6 h-6"
      />
      <a href={linkedin} class="text-white hover:text-blue-500">
        {linkedinUsername}
      </a>
    </div>
    <div class="flex items-center space-x-2">
      <img 
        src="/portfolio-website/icons/github.svg" 
        alt="Github" 
        class="w-6 h-6"
      />
      <a href={github} class="text-white hover:text-blue-500">
        {githubUsername}
      </a>
    </div>
  </div>
</div>
