---
import { contactInfo } from '../content/contactInfo';

const { name, email, discord, linkedin, github } = contactInfo;
---

<footer class="bg-column-bg text-primary-text py-4 mt-auto border-t border-white">
  <div class="container mx-auto px-4 flex justify-between items-center">
    <div class="text-sm">
      {name}
    </div>
    <div class="flex flex-col items-end">
      <h3 class="text-m text-primary-text mb-2">Get in touch</h3>
      <div class="flex items-center space-x-4">
        <a href={`mailto:${email}`} class="text-white hover:text-blue-500">
          <img 
            src="/portfolio-website/icons/email.svg" 
            alt="Email" 
            class="w-6 h-6"
          />
        </a>
        <a href={discord} class="text-white hover:text-blue-500">
          <img 
            src="/portfolio-website/icons/discord.svg" 
            alt="Discord" 
            class="w-6 h-6"
          />
        </a>
        <a href={linkedin} class="text-white hover:text-blue-500">
          <img 
            src="/portfolio-website/icons/linkedin.svg" 
            alt="Linkedin" 
            class="w-6 h-6"
          />
        </a>
        <a href={github} class="text-white hover:text-blue-500">
          <img 
            src="/portfolio-website/icons/github.svg" 
            alt="Github" 
            class="w-6 h-6"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
